h1 {text-align: center;}
p {
	margin: 5px;
}
form, .formgroup {
	border: 1px solid black; 
	border-radius: 5px;
	padding: 5px; margin: 5px; 
	background-color: #f0f0f0;
}
.formgroup label {
	display: inline-block;
	width: 120px;
}
select {
	max-width: 80px;
}
input[type=color], input[type=number]{
	max-width: 40px;
}

.referenceSubPanel{
	max-height: 800px;
	overflow: scroll;
	margin: 5px;
}

.traitName {
	font-weight: bold;
	color: #400000;
}

.traitDescription {

}

.formgroup {
	display: flex;
	flex-flow: column;
}

.referenceImage {
	max-width: 300px;
}

.statInput{
	max-width: 40px;
}

#mainContainer {
	display: flex;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#formPanel {
	min-width: 220px;
}