<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kingdoms And Warfare Unit Creator</title>
	<link rel="stylesheet" href="static/kwStyle.css">
	<script type="text/javascript" src="static/jquery-3.6.3.min.js"></script>
	<script type="text/javascript" src="static/CardDrawing.js"></script>
	<script type="text/javascript" src="static/kwunitGenerator.js"></script>
</head>
<body>
	<h1>Make a unit!</h1>
	<div id="mainContainer">
		<div id="formPanel" class="mainPanel">
			<form>
				<div class="formgroup">
					<label for="unitNameInput">Unit Name:</label>
					<input type="text" name="unitNameInput" id="unitNameInput" value="Splonks">
					<div class="statGroup">
						<label for="nameSizeInput">Name Font Size:</label>
						<input type="number" name="nameSizeInput" id="nameSizeInput" value="64">
					</div>
				</div>
				<div class="formgroup" id="bylineGroup">
					<p> Unit Type </p>
					<div class="statGroup">
						<label for="unitTypeInput">Type:</label>
						<select name="unitTypeInput" id="unitTypeInput">
							<option value="Infantry">Infantry</option>
							<option value="Cavalry">Cavalry</option>
							<option value="Artillery">Artillery</option>
							<option value="Aerial">Aerial</option>
							<option value="Levies">Levies</option>
						</select>
					</div>
					<div class="statGroup">
						<label for="unitExperienceInput">Experience:</label>
						<select name="unitExperienceInput" id="unitExperienceInput">
							<option value="Levies"> Levies </option>
							<option value="Regular">Regular</option>
							<option value="Veteran">Veteran</option>
							<option value="Elite">Elite</option>
							<option value="Super_Elite">Super-Elite</option>
						</select>
					</div>
					<div class="statGroup">
						<label for="unitWeightInput">Equipment:</label>
						<select name="unitWeightInput" id="unitWeightInput">
							<option value="Light">Light</option>
							<option value="Medium">Medium</option>
							<option value="Heavy">Heavy</option>
							<option value="Super_Heavy">Super-Heavy</option>
						</select>
					</div>
					<div class="statGroup">
						<label for="unitAncestryInput">Ancestry:</label>
						<input type="text" name="unitAncestryInput" id="unitAncestryInput" value="Splonks">
					</div>
				</div>

				<div class="formgroup" id="statsGroup">
					<p> Unit Stats </p>
					<div class="statGroup">
						<label for="atkInput">ATK:</label>
						<input type="text" name="atkInput" class="statInput" id="atkInput" value="0">
					</div>
					<div class="statGroup">
						<label for="atkInput">DEF:</label>
						<input type="text" name="defInput" class="statInput" id="defInput" value="10">
					</div>
					<div class="statGroup">
						<label for="atkInput">POW:</label>
						<input type="text" name="powInput" class="statInput" id="powInput" value="0">
					</div>
					<div class="statGroup">
						<label for="atkInput">TOU:</label>
						<input type="text" name="touInput" class="statInput" id="touInput" value="10">
					</div>
					<div class="statGroup">
						<label for="atkInput">MOR:</label>
						<input type="text" name="morInput" class="statInput" id="morInput" value="0">
					</div>
					<div class="statGroup">
						<label for="atkInput">COM:</label>
						<input type="text" name="comInput" class="statInput" id="comInput" value="0">
					</div>
				</div>

				<div class="formgroup">
					<p> Unit Stuff </p>
					<div class="statGroup">
						<label for="unitTierInput">Tier:</label>
						<select name="unitTierInput" id="unitTierInput">
							<option value="I">I</option>
							<option value="II">II</option>
							<option value="III">III</option>
							<option value="IV">IV</option>
							<option value="V">V</option>
						</select>
					</div>
					<div class="statGroup">
						<label for="unitSizeInput">Size:</label>
						<input type="number" name="unitSizeInput" id="unitSizeInput" value="6">
					</div>
					<div class="statGroup">
						<label for="unitSizeInput">Attacks:</label>
						<input type="number" name="unitAttacksInput" id="unitAttacksInput" value="1">
					</div>
					<div class="statGroup">
						<label for="unitSizeInput">Damage:</label>
						<input type="number" name="unitDamageInput" id="unitDamageInput" value="1">
					</div>
				</div>

				<div class="formgroup">
					<p> Unit Traits </p>
					<input type="text" name="unitTrait1Input" id="unitTrait1Input" value="Splonkability">
					<input type="text" name="unitTrait2Input" id="unitTrait2Input" value="Splonking">
					<input type="text" name="unitTrait3Input" id="unitTrait3Input" value="Splonked">
					<input type="text" name="unitTrait4Input" id="unitTrait4Input">
				</div>

				<div class="formgroup" id="colorGroup">
					<p> Card Colors </p>
					<div class="statGroup">
						<label for="backgroundColor">Background Color:</label>
						<input type="color" name="backgroundColor" id="backgroundColor" value="#f0f0f0">
					</div>
					<div class="statGroup">
						<label for="darkColor">Dark Color:</label>
						<input type="color" name="darkColor" id="darkColor" value="#104010">
					</div>
					<div class="statGroup">
						<label for="lightColor">Light Color:</label>
						<input type="color" name="lightColor" id="lightColor" value="#08ff08">
					</div>
					<div class="statGroup">
						<label for="filigreeColor">Filigree Color:</label>
						<input type="color" name="filigreeColor" id="filigreeColor" value="#550055">
					</div>
				</div>
				
				<div class="formgroup" id="copymarkGroup">
					<p> Maker </p>
					<input type="text" name="makerInput" id="makerInput">
				</div>
				<input type="button" name="submit" value="Generate Card!" id="updateUnitButton">
			</form>
		</div>

		<div id="outputPanel" class="mainPanel">
			<canvas id="unitCanvas" width="851" height="609" >
			</canvas>
			<img src="static/img/Blank unit card background.png" alt="this is the background for the card." width="40px">
			<label for="unitDescriptionInput">Description:</label>
			<textarea id="unitDescriptionInput"></textarea>
		</div>

		<div id="referencePanel" class="mainPanel">
			<div id="referenceMenuBar">
				<input type="button" name="" id="traitReferenceButton" value="Unit Trait Glossary">
				<input type="button" name="" id="leviesReferenceButton" value="Levies Card Reference">
				<input type="button" name="" id="infantryReferenceButton" value="Infantry Card Reference">
				<input type="button" name="" id="artilleryReferenceButton" value="Artillery Card Reference">
				<input type="button" name="" id="cavalryReferenceButton" value="Cavalry Card Reference">
				<input type="button" name="" id="ancestryReferenceButton" value="Ancestry Reference">
				<input type="button" name="" id="colorReferenceButton" value="Color Schemes">
				<input type="button" name="" id="upgradeReferenceButton" value="Level Up">
			</div>
			<div id="unitTraitsReference" class="referenceSubPanel">
				<h2>Unit Traits</h2>
				<dl id="traitsDefinitionTable">
					<dt class="traitName"> Archers </dt>
					<dd class="traitDescription"> This unit can attack any opposed unit. Successful Power tests the unit 
						makes against opposed units that are not exposed inflict only 1 casualty. </dd>
					<dt class="traitName"> Camel Riders </dt>
					<dd class="traitDescription"> This unit rides camels and is used to warfare in the desert and the dunes. 
						This unit gets a +2 to Attack tests and Command tests while in plains, dunes, or the desert. </dd>
					<dt class="traitName"> First Strike </dt>
					<dd> When Deployment Ends, this unit activates. </dd>
					{% for traitName in traits.keys() %}
					<dt class="traitName"> {{traits[traitName].name}} </dt>
					<dd class="traitDescription"> {{traits[traitName].description}} 
						{% if traits[traitName].homebrew %}
						This Trait is Homebrewed!
						{% endif %}
					</dd>
					{% endfor %}
				</dl>
				<p> Last updated {{ lastUpdated }} </p>
			</div>
			<div id="leviesReference" class="referenceSubPanel">
				<h2>Levies Units</h2>
				<img src="static/img/reference/Human Levies Card.png" class="referenceImage" />
				<img src="static/img/reference/Orc Levies Card.png" class="referenceImage" />
				<img src="static/img/reference/Goblin Levies Card.png" class="referenceImage" />
			</div>
			<div id="infantryReference" class="referenceSubPanel">
				<h2>Infantry Units</h2>
				<img src="static/img/reference/Human Infantry Card.png" class="referenceImage" />
				<img src="static/img/reference/Orc Infantry Card.png" class="referenceImage" />
				<img src="static/img/reference/Goblin Infantry Card.png" class="referenceImage" />
			</div>
			<div id="artilleryReference" class="referenceSubPanel">
				<h2>Artillery Units</h2>
				<img src="static/img/reference/Human Artillery Card.png" class="referenceImage" />
				<img src="static/img/reference/Orc Artillery Card.png" class="referenceImage" />
				<img src="static/img/reference/Goblin Artillery Card.png" class="referenceImage" />
			</div>
			<div id="cavalryReference" class="referenceSubPanel">
				<h2>Cavalry Units</h2>
				<img src="static/img/reference/Human Cavalry Card.png" class="referenceImage" />
				<img src="static/img/reference/Orc Cavalry Card.png" class="referenceImage" />
				<img src="static/img/reference/Goblin Cavalry Card.png" class="referenceImage" />
			</div>
			<div id="ancestryReference" class="referenceSubPanel">
				<img src="static/img/reference/Ancestries 1.png" style="width:680px;">
				<img src="static/img/reference/Ancestries 2.png" style="width:680px;">
			</div>
			<div id="colorSchemes" class="referenceSubPanel">
				<form>
					<input type="text" name="colorSchemeName" id="colorSchemeNameInput" />
					<input type="button" name="saveColorButton" id="saveColorButton" value="Save Current Color Scheme">
				</form>
				<form>
					<select id="colorSelect">
						{% for colorScheme in colorSchemes %}
						<option value="{{colorScheme['name']}}" 
							data-background-color="{{colorScheme['Background Color']}}" 
							data-light-color="{{colorScheme['Light Color']}}"
							data-dark-color="{{colorScheme['Dark Color']}}"
							data-filigree-color="{{colorScheme['Filigree Color']}}">
							{{colorScheme["name"]}}
						</option>
						{% endfor %}
					</select>
					<input type="button" name="loadColorButton" id="loadColorButton" value="Load Color Scheme">
					<input type="button" name="deleteColorButton" id="deleteColorButton" value="Delete Color Scheme" style="color:red">
				</form>

				<h2>Saved Color Schemes</h2>
				<dl id="colorSchemesTable">
					{% for colorScheme in colorSchemes %}
					<dt class="colorSchemeName"> {{colorScheme["name"]}} </dt>
					<dd class="colorSchemePreview" style="border-left: 18px solid {{colorScheme["Background Color"]}}">Background Color: {{colorScheme["Background Color"]}} </dd>
					<dd class="colorSchemePreview" style="border-left: 18px solid {{colorScheme["Dark Color"]}}"> Dark Color: {{colorScheme["Dark Color"]}}</dd>
					<dd class="colorSchemePreview" style="border-left: 18px solid {{colorScheme["Light Color"]}}"> Light Color: {{colorScheme["Light Color"]}} </dd>
					<dd class="colorSchemePreview" style="border-left: 18px solid {{colorScheme["Filigree Color"]}}"> Filigree Color: {{colorScheme["Filigree Color"]}} </dd>
					{% endfor %}
				</dl>
			</div>
			<div id="upgradeReference" class="referenceSubPanel">
				<input type="button" value="Level Up" id="levelupButton" />
				<input type="button" value="Level Down" id="leveldownButton" />
				<input type="button" value="Upgrade" id="upgradeButton" />
				<input type="button" value="Downgrade" id="downgradeButton" />
			</div>
		</div>
			
	</div>
</body>
</html>