<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kingdoms And Warfare Traits Panel</title>
	<link rel="stylesheet" href="static/kwStyle.css">
	<script type="text/javascript" src="static/jquery-3.6.3.min.js"></script>
	<script type="text/javascript" src="static/CardDrawing.js"></script>
	<script type="text/javascript" src="static/kwunitGenerator.js"></script>
</head>
<body>
	<h1>Make a unit!</h1>
	<div id="mainContainer">
        <div class="mainPanel">
            {% for trait in traits.keys() %}
                <div class="formgroup">
                    <p> {{traits[trait]['name']}} </p>
                    <p> {{traits[trait]['description']}} </p>
                    <label> Hombrewed: </label>
                    {% if traits[trait]['homebrew'] %}
                        <input type="checkbox" checked >
                    {% else %}
                        <input type="checkbox" >
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
